@font-face {
  font-family: 'mybeerfont';
  src:  url('../fonts/mybeerfont.eot?3vhi7l');
  src:  url('../fonts/mybeerfont.eot?3vhi7l#iefix') format('embedded-opentype'),
    url('../fonts/mybeerfont.ttf?3vhi7l') format('truetype'),
    url('../fonts/mybeerfont.woff?3vhi7l') format('woff'),
    url('../fonts/mybeerfont.svg?3vhi7l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mybeerfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"].icon-lg, [class*=" icon-"].icon-lg {
    font-size: 1.33333333em;
}
[class^="icon-"].icon-2x, [class*=" icon-"].icon-2x {
    font-size: 2em;
}
[class^="icon-"].icon-3x, [class*=" icon-"].icon-3x {
    font-size: 3em;
}
[class^="icon-"].icon-4x, [class*=" icon-"].icon-4x {
    font-size: 4em;
}

.icon-barley2:before {
  content: "\e900";
}
.icon-barley:before {
  content: "\e901";
}
.icon-beer:before {
  content: "\e902";
}
.icon-bottle:before {
  content: "\e903";
}
.icon-bottle-share:before {
  content: "\e904";
}
.icon-bottle-share2:before {
  content: "\e905";
}
.icon-fermenter:before {
  content: "\e906";
}
.icon-glass:before {
  content: "\e907";
}
.icon-hop:before {
  content: "\e908";
}
.icon-hop2:before {
  content: "\e909";
}
.icon-share2:before {
  content: "\e90a";
}
.icon-share:before {
  content: "\e90b";
}
.icon-yeast-dry:before {
  content: "\e90c";
}
.icon-yeast-liquid:before {
  content: "\e90d";
}
