{% use "form_div_layout.html.twig" %}

{#{%- block form_row -%}
    <div class="form-group">
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </div>
{%- endblock form_row -%}#}

{%- block form_widget_simple -%}
    {%- set attr = attr|merge({'class': attr.class|default('')~" form-control"}) -%}
    {%- set attr = attr|merge({'placeholder': attr.placeholder|default(block('label_text')) }) -%}
    
    {{ parent() }}
{%- endblock form_widget_simple -%}

{%- block form_widget_compound -%}
    {%- set attr = attr|merge({'class': attr.class|default('')~" form-control"}) -%}
    
    {{ parent() }}
{%- endblock form_widget_compound -%}

{%- block choice_widget_collapsed -%}
    {%- set attr = attr|merge({'class': attr.class|default('')~" form-control"}) -%}
    
    {{ parent() }}
{%- endblock choice_widget_collapsed -%}

{%- block textarea_widget -%}
    {%- set attr = attr|merge({'class': attr.class|default('')~" form-control"}) -%}
    {%- set attr = attr|merge({'style': attr.class|default('')~" width: 100%;"}) -%}
    {%- set attr = attr|merge({'rows': attr.rows|default(5)}) -%}
    
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{%- endblock textarea_widget -%}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
    {%- for child in form %}
        {{- form_widget(child) -}}
        {#{{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}#}
    {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{%- block checkbox_widget -%}
    <div class="checkbox">
        <label>
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}{% if required %} required="required"{% endif %}> {{ block('label_text') }}
        </label>
    </div>
{%- endblock checkbox_widget -%}

{%- block radio_widget -%}
    <div class="radio">
        <label>
            <input  type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}> {{ block('label_text') }}
        </label>
    </div>
{%- endblock radio_widget -%}


{%- block form_label -%}
    {%- set label_attr = label_attr|merge({'class': attr.class|default('')~" control-label"|trim}) -%}
    
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}{% if required %} <span class="text-danger">*</span>{%- endif -%}</label>
    {%- endif -%}
{%- endblock form_label -%}

{%- block label_text -%}
    {% if label is not same as(false) -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
    {%- endif -%}
    
    {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
{%- endblock label_text -%}

{% block datepicker_widget %}
    <div class="input-group date bns-datepicker" 
         data-date-format="{{ format }}" 
         data-date-start-view="{{ startView }}" 
         data-date-default-view-date-year="{{ defaultViewDate.year }}" 
         data-date-default-view-date-month="{{ defaultViewDate.month }}" 
         data-date-default-view-date-day="{{ defaultViewDate.day }}" 
         data-date-end-date="{{ endDate }}" 
         data-mask="{{ mask }}">
            {{- block('form_widget_simple') -}}
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
    </div>
{% endblock datepicker_widget %}

{% block toggle_widget %}
    <div class="hidden">
    {{- block('checkbox_widget') -}}
    </div>
    
    <button type="button" class="btn btn-lg btn-toggle btn-theme {% if checked %}active{% endif %}" data-off="{{ off|trans }}" data-on="{{ on|trans }}" data-target="#{{ id }}" data-toggle="button" aria-pressed="{% if checked %}true{% else %}false{% endif %}" autocomplete="off">
        <div class="handle"></div>
    </button>
{% endblock toggle_widget %}