    <!-- begin card -->
    <div class="card">
        <div class="card-block p-b-0 text-center">
            <!-- begin profile-left -->
            <div class="width-200 m-auto">
                <div class="profile-image">
                    <img src="{{ asset(get_avatar_url(routeUser)) | imagine_filter('avatar_profile_box') }}" />
                    <i class="fa fa-user hide"></i>
                </div>
            </div>
            <h4 class="card-title text-center m-t-0 m-b-0">{{ routeUser }}</h4>
        </div>
        <div class="card-block">
            {% if routeUser.mainAddress is not null and routeUser.mainAddress.city is not null %}
                <p class="card-text text-center"><i class="fa fa-lg fa-map-marker"></i> {{ routeUser.mainAddress.city }}</p>
            {% endif %}
            <div class="list-group m-t-20">
                {% if isCurrentUser %}
                    <a href="{{ path('recipe_index', {'slug_user': routeUser.slug}) }}" class="list-group-item list-group-item-action">{{ "My recipes"|trans }} <b class="pull-right">{{ user.recipes.count }}</b></a>
                    <a href="{#{{ path('recipe_index') }}#}" class="list-group-item list-group-item-action">{{ "My followers"|trans }} <b class="pull-right">{{ user.followers.count }}</b></a>
                    <a href="{#{{ path('recipe_index') }}#}" class="list-group-item list-group-item-action">{{ "My followings"|trans }} <b class="pull-right">{{ user.followings.count }}</b></a>
                {% else %}
                    <a href="{{ path('user_recipe_index', {'user_slug': routeUser.slug}) }}" class="list-group-item list-group-item-action">{{ "Recipes"|trans }} <b class="pull-right">{{ routeUser.recipes.count }}</b></a>
                    <a href="{#{{ path('recipe_index') }}#}" class="list-group-item list-group-item-action">{{ "Followers"|trans }} <b class="pull-right">{{ routeUser.followers.count }}</b></a>
                    <a href="{#{{ path('recipe_index') }}#}" class="list-group-item list-group-item-action">{{ "Followings"|trans }} <b class="pull-right">{{ routeUser.followings.count }}</b></a>
                {% endif %}
            </div>
            
            {% if isCurrentUser %}
                <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-theme btn-block"><b>{{ 'profile.edit.link'|trans({}, 'FOSUserBundle') }}</b></a>
            {% else %}
                <a href="#" class="btn btn-theme btn-block"><b>{{ 'Follow'|trans }}</b></a>
            {% endif %}
        </div>
    </div>