{% extends '::base_user.html.twig' %}

{% block title %}{{ 'layout.profile'|trans({}, 'FOSUserBundle') }}{% endblock %}
{% block page_title %}{{ 'layout.profile'|trans({}, 'FOSUserBundle') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    <link href="/assets/plugins/password-indicator/css/password-indicator.css" rel="stylesheet" />
    <link href="/assets/plugins/ionRangeSlider/css/ion.rangeSlider.css" rel="stylesheet" />
    <link href="/assets/plugins/ionRangeSlider/css/ion.rangeSlider.skinNice.css" rel="stylesheet" />
    
    <style>
        #map {
            height: 430px;
            position: relative;
            width: 100%;
        }
    </style>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'layout.profile'|trans({}, 'FOSUserBundle') }}</li>
{% endblock %}

{% block content %}
    {% block fos_user_content %}
        {% include "@FOSUser/Profile/edit_content.html.twig" %}
    {% endblock fos_user_content %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script src="/built/js/password-indicator-custom.min.js"></script>
    <script src="/assets/plugins/ionRangeSlider/js/ion-rangeSlider/ion.rangeSlider.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#fos_user_profile_form_plainPassword_first').passwordStrength();
        });
    </script>
    
    <script>
        /* BOOTSTRAP SLIDER */
        $("#fos_user_profile_form_alertRange").ionRangeSlider({
            min: 0,
            max: 500,
            type: 'single',
            step: 5,
            postfix: " km",
            prettify: false,
            hasGrid: true,
        });

        var autocomplete, geocoder;
        var componentForm = {
            street_number: {id: 'fos_user_profile_form_mainAddress_number', type: 'short_name'},
            route: {id: 'fos_user_profile_form_mainAddress_address', type: 'long_name'},
            locality: {id: 'fos_user_profile_form_mainAddress_city', type: 'long_name'},
            country: {id: 'fos_user_profile_form_mainAddress_country', type: 'long_name'},
            postal_code: {id: 'fos_user_profile_form_mainAddress_zip', type: 'short_name'}
        };

        function initAll() {
            initAutocomplete();
            initMap();
        }
        
        function initAutocomplete() {
            // Create the autocomplete object, restricting the search to geographical
            // location types.
            autocomplete = new google.maps.places.Autocomplete(
                /** @type {!HTMLInputElement} */
                (document.getElementById('fos_user_profile_form_mainAddress_mapsAutocomplete')),
                {types: ['geocode']}
            );

            // When the user selects an address from the dropdown, populate the address
            // fields in the form.
            autocomplete.addListener('place_changed', fillInAddress);
        }
        
        function initMap() {
            // Create a map object and specify the DOM element for display.
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 48.856638, lng: 2.352241},
                scrollwheel: false,
                zoom: 6
            });
        }

        function fillInAddress() {
            // Get the place details from the autocomplete object.
            var place = autocomplete.getPlace();
            var latitude = place.geometry.location.lat();
            var longitude = place.geometry.location.lng();
            
            for (var component in componentForm) {
                document.getElementById(componentForm[component]['id']).value = '';
            }

            // Get each component of the address from the place details
            // and fill the corresponding field on the form.
            for (var i = 0; i < place.address_components.length; i++) {
                var addressType = place.address_components[i].types[0];
                if (componentForm[addressType]) {
                    var val = place.address_components[i][componentForm[addressType]['type']];
                    document.getElementById(componentForm[addressType]['id']).value = val;
                }
            }
            
            document.getElementById('fos_user_profile_form_mainAddress_latitude').value = latitude;
            document.getElementById('fos_user_profile_form_mainAddress_longitude').value = longitude;
        }

        // Bias the autocomplete object to the user's geographical location,
        // as supplied by the browser's 'navigator.geolocation' object.
        function geolocate() {
            geocoder = new google.maps.Geocoder();
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var geolocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    var circle = new google.maps.Circle({
                        center: geolocation,
                        radius: position.coords.accuracy
                    });
                    autocomplete.setBounds(circle.getBounds());
                    
                    var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    geocoder.geocode({'latLng':latlng}, function(data, status) {
                        if(status == google.maps.GeocoderStatus.OK) {
                            for (var i = 0; i < data.length; i++) {
                                if(data[i].types[0] == 'street_address') {
{#                                    autocomplete = new google.maps.places.Autocomplete(data[i]);#}
{#                                    fillInAddress();#}
                                }
                            }
                        }
                    });

                });
            }
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgJ4y2SBfK9aF5-rb7qHC1xftFPjJyHrQ&libraries=places&callback=initAll" async defer></script>

{% endblock %}