            <div class="card">
                {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                    <div class="card-header">{{ 'profile.edit.title'|trans({}, 'FOSUserBundle') }}</div>
                    <div class="card-block">
                        {{ form_errors(form) }}
                        
                        <div class="row">
                            <div class="col col-md-9 m-b-20">
                                <div class="col col-sm-6">
                                    {{ form_row(form.surname) }}
                                </div>
                                <div class="col col-sm-6">
                                    {{ form_row(form.name) }}
                                </div>
                                <div class="col col-sm-6">
                                    {{ form_row(form.gender) }}
                                </div>
                                <div class="col col-sm-6">
                                    {{ form_row(form.birthdate) }}
                                </div>
                                <div class="clearfix d-none d-sm-block"></div>
                                <div class="col col-sm-6">
                                    {{ form_row(form.email) }}
                                </div>
                                <div class="clearfix d-none d-sm-block"></div>
                                <div class="col col-sm-6">
                                    {{ form_row(form.plainPassword.first) }}
                                    <div id="passwordStrengthDiv" class="is0 m-t-5"></div>
                                </div>
                                <div class="col col-sm-6">
                                    {{ form_row(form.plainPassword.second) }}
                                </div>
                            </div>
                            <div class="col col-md-3">
                                <div class="width-200 m-auto">
                                    <div class="profile-image">
                                        <img src="{{ asset(get_avatar_url(form.vars.value)) | imagine_filter('avatar_profile_box') }}" />
                                        <i class="fa fa-user hide"></i>
                                    </div>
                                    {{ form_errors(form.avatar) }}
                                    {{ form_widget(form.avatar) }}
                                </div>
                            </div>
                            
                            <!-- Add the extra clearfix for only the required viewport -->
                            <div class="clearfix d-none d-sm-block"></div>
                            <hr>
                            
                            <div class="col col-12 m-t-20">
                                <h4>{{ 'mainAddress'|trans }}</h4>
                                <p class="text-info"><i class="fa fa-info-circle"></i> {{ 'address.infos'|trans|nl2br }}</p>
                                {{ form_row(form.mainAddress.mapsAutocomplete, {'attr': {'onFocus': "geolocate()"} }) }}
                                {{ form_widget(form.mainAddress, {'attr': {'class': "hidden"} }) }}
                                <div id="map"></div>
                                
                                {{ form_row(form.alertRange) }}
                                <p class="text-info"><i class="fa fa-info-circle"></i> {{ 'alertRange.infos'|trans|nl2br }}</p>
                            </div>
                            
                            <!-- Add the extra clearfix for only the required viewport -->
                            <div class="clearfix d-none d-sm-block"></div>
                            <hr>
                            
                            <div class="col col-12">
                                <h4>{{ 'extraInfos'|trans }}</h4>
                                {{ form_row(form.biography) }}
                                {{ form_row(form.equipment.description) }}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer"><input type="submit" class="btn btn-info pull-right" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" /></div>
                {{ form_end(form) }}
            </div>