{% extends '::base_user.html.twig' %}

{% block title %}{{ 'layout.profile'|trans({}, 'FOSUserBundle') }}{% endblock %}
{% block page_title %}{{ 'layout.profile'|trans({}, 'FOSUserBundle') }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'layout.profile'|trans({}, 'FOSUserBundle') }}</li>
{% endblock %}

{% block content %}
    {% block fos_user_content %}
        {% include "@FOSUser/Profile/show_content.html.twig" %}
    {% endblock fos_user_content %}
{% endblock %}