<!DOCTYPE html>
<!--[if IE 8]> <html lang="{{ app.request.locale|split('_')[0] }}" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="{{ app.request.locale|split('_')[0] }}">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %} | {{ "site.name.full"|trans }}</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
	
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link href="/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/css/animate.min.css" rel="stylesheet" />
    <link href="/assets/css/style.min.css" rel="stylesheet" />
    <link href="/assets/css/style-responsive.min.css" rel="stylesheet" />
    <link href="/assets/css/theme/orange.css" rel="stylesheet" />
    <link href="/assets/css/mybeerfont.css" rel="stylesheet" />
    <link href="/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <link href="/assets/plugins/ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="/assets/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" />
    <link href="/built/css/bootstrap-toggle.css" rel="stylesheet">
    <!-- ================== END BASE CSS STYLE ================== -->

    <!-- Custom style -->
    <link rel="stylesheet" href="/built/css/style.css">
    {% block stylesheets %}{% endblock %}

    <!-- ================== BEGIN BASE JS ================== -->
    <script src="/assets/plugins/pace/pace.min.js"></script>
    <!-- ================== END BASE JS ================== -->
</head>
<body class="flat-black flat-theme {% block body_class %}{% endblock %}" data-spy="scroll" data-target="#header-navbar" data-offset="51">
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <!-- end #page-loader -->
	
    <!-- begin #page-container -->
    <div id="page-container" class="page-header-fixed page-without-sidebar fade in">
        <!-- begin #header -->
        {{ include('::_navbar_top.html.twig') }}
        <!-- end #header -->
		
        <!-- begin #content -->
        <div id="content" class="content">
            {% block content_full %}
                <!-- begin breadcrumb -->
                <ol class="breadcrumb pull-right">
                    {% block breadcrumb %}
                        <li><a href="{{ path('brewnshare_homepage') }}">{{ "Home"|trans }}</a></li>
                        {#<li><a href="javascript:;">Home</a></li>
                        <li><a href="javascript:;">Page Options</a></li>
                        <li class="active">Page without Sidebar</li>#}
                    {% endblock %}
                </ol>
                <!-- end breadcrumb -->
                <!-- begin page-header -->
                <h1 class="page-header">
                    {% block page_title %}
                        {#Page without Sidebar <small>header small text goes here...</small>#}
                    {% endblock %}
                </h1>
                <!-- end page-header -->

                {% if app.request.hasPreviousSession %}
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="alert alert-{{ type }} fade in m-b-15">
                                {{ message }}
                                <span class="close" data-dismiss="alert">×</span>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}

                {% block content %}{% endblock %}
            {% endblock %}
        </div>
        <!-- end #content -->
        
        <!-- begin scroll to top btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
        <!-- end scroll to top btn -->
    </div>
    <!-- end page container -->
	
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
    <script src="/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
    <script src="/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <!--[if lt IE 9]>
        <script src="/assets/crossbrowserjs/html5shiv.js"></script>
        <script src="/assets/crossbrowserjs/respond.min.js"></script>
        <script src="/assets/crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
    <script src="/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
    <script src="/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/assets/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.{{ app.request.locale }}.min.js" charset="UTF-8"></script>
    <script src="/assets/plugins/masked-input/masked-input.min.js"></script>
    <script src="/assets/plugins/bootstrap-sweetalert/sweetalert.min.js"></script>
    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    <script src="{{ url('bazinga_jstranslation_js') }}"></script>
    <script src="/assets/js/apps.min.js"></script>
    <!-- ================== END BASE JS ================== -->

    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>
    
    <!-- Custom scripts -->
    <script src="/built/js/script.min.js"></script>
    {% block javascripts %}
    {% endblock %}
</body>
</html>