{% extends '::base.html.twig' %}

{% block content_full %}
    <div class="row">
        <div class="col-md-3 hidden-print">
            {% include "@FOSUser/Profile/_profile_box.html.twig" with { user: app.user } %}
        </div>
        
        <div class="col-md-9">
            <!-- begin breadcrumb -->
            <ol class="breadcrumb pull-right hidden-print">
                {% block breadcrumb %}
                    <li><a href="{{ path('brewnshare_homepage') }}">{{ "Home"|trans }}</a></li>
                    {#<li><a href="javascript:;">Home</a></li>
                    <li><a href="javascript:;">Page Options</a></li>
                    <li class="active">Page without Sidebar</li>#}
                {% endblock %}
            </ol>
            <!-- end breadcrumb -->
            <!-- begin page-header -->
            <h1 class="page-header">
                {% block page_title %}
                    {#Page without Sidebar <small>header small text goes here...</small>#}
                {% endblock %}
            </h1>
            <!-- end page-header -->

            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }} fade in m-b-15">
                            {{ message }}
                            <span class="close" data-dismiss="alert">×</span>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            {% block content %}{% endblock %}
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
{% endblock %}