{% extends '::base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    {% block fos_user_content %}
        <div class="callout callout-success">
            <p>{{ 'registration.confirmed'|trans({'%username%': user.surname}) }}</p>
        </div>
        {% if targetUrl %}
            <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
        {% endif %}
    {% endblock fos_user_content %}
{% endblock %}
