{% extends '::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ 'layout.register'|trans({}, 'FOSUserBundle') }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    
    <link href="/assets/plugins/bootstrap-social/bootstrap-social.css" rel="stylesheet" />
    <link href="/assets/plugins/password-indicator/css/password-indicator.css" rel="stylesheet" />
{% endblock %}

{% block body_class %}bg-white{% endblock %}

{% block page_title %}{% endblock %}
{% block breadcrumb %}{% endblock %}

{% block content %}
    <!-- begin register -->
    <div class="register register-with-news-feed">
        <!-- begin news-feed -->
        <div class="news-feed">
            <div class="news-image">
                <img src="/assets/img/login-bg/bottle-caps.jpg" alt="" />
            </div>
            <div class="news-caption">
                <h4 class="caption-title">{{ "welcome.title"|trans({}, "messages") }}</h4>
                <p>
                    {{ "welcome.text"|trans({}, "messages") }}
                </p>
            </div>
        </div>
        <!-- end news-feed -->
        <!-- begin right-content -->
        <div class="right-content">
            <!-- begin register-header -->
            <h1 class="register-header">
                {{ "registration.title"|trans }}
                <small>{{ "registration.text"|trans }}</small>
            </h1>
            <!-- end register-header -->
            <!-- begin register-content -->
            <div class="register-content">
                
                <div class="m-t-20 m-b-10 text-center">
                    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" class="btn width-250 btn-social btn-facebook">
                        <span class="fa fa-facebook"></span> {{ "Sign in with"|trans }} Facebook
                    </a>
                </div>
                <div class="m-t-10 m-b-30 text-center">
                    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}" class="btn width-250 btn-social btn-google">
                        <span class="fa fa-google"></span> {{ "Sign in with"|trans }} Google
                    </a>
                </div>
                <p class="m-b-30 f-s-20 f-w-500 text-center">- {{ "OR"|trans }} -</p>
                
                <h4>{{ "Sign up with email"|trans }}</h4>
                
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register margin-bottom-0'} }) }}
                    {{ form_label(form.name) }}
                    <div class="row row-space-10">
                        <div class="col-md-6 m-b-15">
                            {{ form_errors(form.surname) }}
                            {{ form_widget(form.surname) }}
                        </div>
                        <div class="col-md-6 m-b-15">
                            {{ form_errors(form.name) }}
                            {{ form_widget(form.name) }}
                        </div>
                    </div>
                    {{ form_label(form.email) }}
                    <div class="row m-b-15">
                        <div class="col-md-12">
                            {{ form_errors(form.email) }}
                            {{ form_widget(form.email) }}
                        </div>
                    </div>
                    {{ form_label(form.plainPassword.first) }}
                    <div class="row m-b-15">
                        <div class="col-md-12">
                            {{ form_errors(form.plainPassword) }}
                            {{ form_errors(form.plainPassword.first) }}
                            {{ form_widget(form.plainPassword.first) }}
                            <div id="passwordStrengthDiv" class="is0 m-t-5"></div>
                        </div>
                    </div>
                    {{ form_label(form.plainPassword.second) }}
                    <div class="row m-b-15">
                        <div class="col-md-12">
                            {{ form_errors(form.plainPassword.second) }}
                            {{ form_widget(form.plainPassword.second) }}
                        </div>
                    </div>
                    <div class="checkbox m-b-30">
                        {{ form_errors(form.terms) }}
                        {{ form_widget(form.terms) }}
                    </div>
                    <div class="register-buttons">
                        <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-theme btn-block btn-lg" />
                    </div>
                    <div class="m-t-20 m-b-40 text-inverse">
                        {{ 'Already a member?'|trans }} {{ 'Click'|trans }} <a href="{{ path('fos_user_security_login') }}">{{ 'here'|trans }}</a> {{ 'to login'|trans }}.
                    </div>
                    
                    <hr />
                    <p class="text-center">
                        &copy; 2017 {{ "site.copyright"|trans({}, "messages") }}
                    </p>
                {{ form_end(form) }}
            </div>
            <!-- end register-content -->
        </div>
        <!-- end right-content -->
    </div>
    <!-- end register -->
    
    <div id="fb-root"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script src="/built/js/password-indicator-custom.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#fos_user_registration_form_plainPassword_first').passwordStrength();
        });
    </script>
{% endblock %}