@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3vhi7l');
  src:  url('fonts/icomoon.eot?3vhi7l#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3vhi7l') format('truetype'),
    url('fonts/icomoon.woff?3vhi7l') format('woff'),
    url('fonts/icomoon.svg?3vhi7l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-barley2:before {
  content: "\e900";
}
.icon-barley:before {
  content: "\e901";
}
.icon-beer:before {
  content: "\e902";
}
.icon-bottle:before {
  content: "\e903";
}
.icon-bottle-share:before {
  content: "\e904";
}
.icon-bottle-share2:before {
  content: "\e905";
}
.icon-fermenter:before {
  content: "\e906";
}
.icon-glass:before {
  content: "\e907";
}
.icon-hop:before {
  content: "\e908";
}
.icon-hop2:before {
  content: "\e909";
}
.icon-share2:before {
  content: "\e90a";
}
.icon-share:before {
  content: "\e90b";
}
.icon-yeast-dry:before {
  content: "\e90c";
}
.icon-yeast-liquid:before {
  content: "\e90d";
}
