/* Theme overriding */
@media (max-width: 767px) {
    #header-navbar .navbar-nav {
        margin: inherit;
    }
    #header-navbar .navbar-nav > li > a {
        padding: 10px 15px;
    }
    
    .mobile-width-full, .form-control.mobile-width-full, .mobile-width-full:focus, .form-control.mobile-width-full:focus {
        width: 100% !important;
    }
    
    .login.login-with-news-feed .login-header, .register.register-with-news-feed .register-header {
        padding-top: 120px !important;
    }
}

/* For all media > 576px */
@media (min-width: 576px) {
    .result-list .result-image {
        width: 25%;
    }
}

.register {
    position: absolute;
    left: 0;
    right: 0;
}
.register.register-with-news-feed .register-header {
    padding-top: 100px;
}

a.text-theme:hover {
    color: #c47d15;
}
.btn.btn-theme,
.flat-theme .pagination > .active > a, 
.flat-theme .pagination > .active > span {
    background-color: #f59c1a !important;
    border-color: #f59c1a !important;
    color: #fff;
}
.btn.btn-theme:hover, 
.flat-theme .pagination > .active > a:focus, 
.flat-theme .pagination > .active > a:hover, 
.flat-theme .pagination > .active > span:focus, 
.flat-theme .pagination > .active > span:hover {
    background-color: #c47d15 !important;
    border-color: #c47d15 !important;
}

.flat-theme .panel-theme > .panel-heading {
    background: #f59c1a;
    color: #fff;
}
.text-black, .text-black a, a.text-black {
    color: #333;
}

/* Form overriding */
.form-control.input-search {
    padding-right: 30px;
}
label.control-label {
    margin-top: 10px;
}
.checkbox:first-child, .radio:first-child {
    margin-top: 0;
}

/* Other */
.profile-image {
    height: 200px;
    line-height: 200px;
}

/* search result */
.result-list .btn-row a {
    font-size: 14px;
    opacity: initial;
}
.result-list .btn-row a:hover {
    text-decoration: none;
}
.result-list .btn-row a + a {
    margin-left: 5px;
}

/* Recipe page */
.invoice-header span:not(.input-group-addon) {
    font-size: 1.5em;
}
.invoice-company {
    min-height: 30px;
}
.invoice-note {
    margin-top: 50px;
    font-size: 100%;
}
.input-group .input-group-addon.select-group-addon {
    width: auto !important;
    padding: 0 !important;
}
/* Managing form display */
form .invoice-company {
    padding-bottom: 20px;
}
form .invoice-header {
    padding-top: 0;
}