<div class="result-image">
    <a href="javascript:;"><img src="/assets/img/gallery/gallery-1.jpg" alt="" /></a>
</div>
<div class="result-info">
    <div class="pull-left"><h4 class="title"><a href="{{ path('recipe_show', {'slug_user': routeUser.slug, 'slug': recipe.slug}) }}">{{ recipe.name }}</a> {% if recipe.style %}<small>{{ recipe.style.translate(app.request.locale).name }}</small>{% endif %}</h4></div>
    <div class="pull-right text-right f-s-16 f-w-700" data-toggle="tooltip" data-placement="bottom" title="{{ "ABV"|trans }}">{{ recipe.abv|number_format(2, ',', ' ') }} % vol.</div>
    <div class="clearfix"></div>
    <div>
        <p class="location">{{ 'recipes.added_date'|trans }} {{ recipe.createdAt|date('d/m/Y') }}</p>
        <p class="desc">
            {{ recipe.description|nl2br }}
        </p>
    </div>
    <div class="clearfix"></div>
    <div class="pull-right text-right f-s-14">
        {% if recipe.bitterness %}
            <span data-toggle="tooltip" data-placement="top" title="{{ "Bitterness"|trans }}">{{ recipe.bitterness }} {{ recipe.bitternessUnit }}</span>
            {% if recipe.color %} • {% endif %}
        {% endif %}
        {% if recipe.color %}
            <span data-toggle="tooltip" data-placement="top" title="{{ "Color"|trans }}">{{ recipe.color }} {{ recipe.colorUnit }}</span>
        {% endif %}
    </div>
    <div class="pull-left">
        <div class="btn-row">
            <a href="#"><span class="label label-warning">Tag 1</span></a>
            <a href="#"><span class="label label-warning">Tag 2</span></a>
            <a href="#"><span class="label label-warning">IPA</span></a>
        </div>
    </div>
</div>
<div class="result-price">
    {#<div>
        <a href="javascript:;"><i class="fa fa-lg fa-facebook-square text-inverse"></i></a>
        <a href="javascript:;"><i class="fa fa-lg fa-twitter-square text-inverse"></i></a>
    </div>#}
    {% if isCurrentUser %}
        {{ form_start(delete_form, {'attr': {'class': "ajax-submit", 'data-target-element': "#recipe-block-"~recipe.id, 'data-confirm-text': "recipes.delete.confirm_text"|trans} }) }}
        <a href="javascript:" class="btn btn-danger btn-block m-t-5 btn-delete-form"><i class="fa fa-trash"></i> {{ "Delete"|trans }}</a>
        {{ form_end(delete_form) }}
        <a href="{{ path('recipe_edit', {'slug_user': app.user.slug, 'slug': recipe.slug}) }}" class="btn btn-success btn-block m-t-5"><i class="fa fa-edit"></i> {{ 'Edit'|trans }}</a>
    {% endif %}
    <a href="{{ path('recipe_show', {'slug_user': routeUser.slug, 'slug': recipe.slug}) }}" class="btn btn-theme btn-block m-t-5"><i class="fa fa-eye"></i> {{ 'View'|trans }}</a>
</div>