{% extends '::base_user.html.twig' %}

{% block title %}{{ recipe.name }} - {{ 'Edit'|trans }} {% endblock %}
{% block page_title %}{{ recipe.name }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('fos_user_profile_show') }}">{{ 'layout.profile'|trans({}, 'FOSUserBundle') }}</a></li>
    <li><a href="{{ path('recipe_index', {'slug_user': routeUser.slug}) }}">{{ 'My recipes'|trans }}</a></li>
    <li><a href="{{ path('recipe_show', {'slug_user': routeUser.slug, 'slug': recipe.slug}) }}">{{ recipe.name }}</a></li>
    <li class="active">{{ 'Edit'|trans }}</li>
{% endblock %}

{% block content %}
    <!-- begin invoice -->
    <div class="invoice">
        {{ form_start(edit_form) }}
            {{ form_errors(edit_form) }}
            <div class="invoice-company">
                <div class="row">
                    <div class="col-md-9 col-lg-10">
                        {{ form_errors(edit_form.name) }}
                        {{ form_widget(edit_form.name) }}
                    </div>
                    <div class="col-md-3 col-lg-2 text-right">
                        {{ form_errors(edit_form.public) }}
                        {{ form_widget(edit_form.public) }}
                    </div>
                </div>
            </div>
            <div class="invoice-header">
                <div class="row">
                    <div class="col-sm-3">
                        {{ form_row(edit_form.brewDate) }}
                    </div>
                    <div class="col-sm-3">
                        {{ form_row(edit_form.bottledDate) }}
                    </div>
                    <div class="col-sm-3">
                        {{ form_label(edit_form.batchSize) }}
                        {{ form_errors(edit_form.batchSize) }}
                        <div class="input-group">
                            {{ form_widget(edit_form.batchSize) }}
                            <span class="input-group-addon">L</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        {{ form_label(edit_form.abv) }}
                        {{ form_errors(edit_form.abv) }}
                        <div class="input-group">
                            {{ form_widget(edit_form.abv) }}
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        {{ form_label(edit_form.bitterness) }}
                        {{ form_errors(edit_form.bitterness) }}
                        <div class="input-group">
                            {{ form_widget(edit_form.bitterness) }}
                            <span class="input-group-addon select-group-addon">
                                {{ form_widget(edit_form.bitternessUnit) }}
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        {{ form_label(edit_form.color) }}
                        {{ form_errors(edit_form.color) }}
                        <div class="input-group">
                            {{ form_widget(edit_form.color) }}
                            <span class="input-group-addon select-group-addon">
                                {{ form_widget(edit_form.colorUnit) }}
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        {{ form_label(edit_form.OG) }}
                        {{ form_errors(edit_form.OG) }}
                        <div class="input-group">
                            {{ form_widget(edit_form.OG) }}
                            <span class="input-group-addon select-group-addon">
                                {{ form_widget(edit_form.OGUnit) }}
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        {{ form_label(edit_form.FG) }}
                        {{ form_errors(edit_form.FG) }}
                        <div class="input-group">
                            {{ form_widget(edit_form.FG) }}
                            <span class="input-group-addon select-group-addon">
                                {{ form_widget(edit_form.FGUnit) }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="invoice-content">
{#                {{ form_row(edit_form.brewerPartners) }}#}
            </div>
        {{ form_end(edit_form) }}
    </div>
{#
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <div class="row">
                    <div class="col-xs-10">
                        {{ form_errors(edit_form.name) }}
                        {{ form_widget(edit_form.name) }}
                    </div>
                    <div class="col-xs-2">
                        {{ form_errors(edit_form.public) }}
                        {{ form_widget(edit_form.public) }}
                    </div>
                </div>
            </div>
            <div class="box-body">

                
                <div class="row margin-bottom-10">
                    <div class="col-md-6">
                        {{ form_row(edit_form.brewDate) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(edit_form.bottledDate) }}
                    </div>
                </div>
                
                <div class="row margin-bottom-10">
                    <div class="col-md-4 col-sm-12">
                        <div class="input-group">
                            {{ form_errors(edit_form.abv) }}
                            {{ form_widget(edit_form.abv) }}
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="input-group">
                            {{ form_errors(edit_form.bitterness) }}
                            {{ form_widget(edit_form.bitterness) }}
                            <span class="input-group-addon select-group-addon">
                                {{ form_widget(edit_form.bitternessUnit) }}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="input-group">
                            {{ form_errors(edit_form.color) }}
                            {{ form_widget(edit_form.color) }}
                            <span class="input-group-addon select-group-addon">
                                {{ form_widget(edit_form.colorUnit) }}
                            </span>
                        </div>
                    </div>
                </div>
                
                <div class="row margin-bottom-10">
                    <div class="col-md-4 col-sm-6">
                        <div class="input-group">
                            {{ form_errors(edit_form.OG) }}
                            {{ form_widget(edit_form.OG) }}
                            <span class="input-group-addon select-group-addon">
                                {{ form_widget(edit_form.OGUnit) }}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="input-group">
                            {{ form_errors(edit_form.FG) }}
                            {{ form_widget(edit_form.FG) }}
                            <span class="input-group-addon select-group-addon">
                                {{ form_widget(edit_form.FGUnit) }}
                            </span>
                        </div>
                    </div>
                </div>
                
                {{ form_widget(edit_form.description) }}
            
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <input type="submit" value="{{ 'Create'|trans }}" class="btn btn-success pull-right" />
                
                <a href="{{ path('recipe_index') }}" class="btn btn-danger">{{ 'Back to the list'|trans }}</a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    {{ form_end(edit_form) }}
                
    {{ form_start(delete_form) }}
        <input type="submit" value="{{ 'Delete'|trans }}" class="btn btn-danger pull-right">
    {{ form_end(delete_form) }}#}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
    
    
{% endblock %}