{% extends '::base_user.html.twig' %}
{% set nRecipes = recipes.getTotalItemCount %}

{% block title %}{% if isCurrentUser %}{{ 'My recipes'|trans }}{% else %}{{ "%user%'s recipes"|trans }}{% endif %}{% endblock %}
{% block page_title %}
    {% if isCurrentUser %}{{ 'My recipes'|trans }}{% else %}{{ "%user%'s recipes"|trans }}{% endif %}
    <small>{% transchoice nRecipes with {'%nRecipes%': nRecipes} %}recipes.results_count{% endtranschoice %}</small>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{% if isCurrentUser %}<a href="{{ path('fos_user_profile_show') }}">{{ 'layout.profile'|trans({}, 'FOSUserBundle') }}</a>{% else %}<a href="">{{ routeUser }}</a>{% endif %}</li>
    <li class="active">{% if isCurrentUser %}{{ 'My recipes'|trans }}{% else %}{{ "Recipes"|trans }}{% endif %}</li>
{% endblock %}

{% block content %}
    <div class="result-container">
        <div class="input-group m-b-20">
            <input type="text" class="form-control input-white" placeholder="{{ "Enter keywords here..."|trans }}" />
            <div class="input-group-btn">
                <button type="button" class="btn btn-theme"><i class="fa fa-search"></i> {{ "Search"|trans }}</button>
            </div>
        </div>
    </div>
            
    {% if isCurrentUser %}<a href="{{ path('recipe_new', {'slug_user': app.user.slug}) }}" class="btn btn-success m-b-20">{{ 'recipes.new'|trans }}</a>{% endif %}
    {{ knp_pagination_render(recipes) }}
    
    <ul class="result-list">
        {% for recipe in recipes %}
            <li id="recipe-block-{{ recipe.id }}">
                {% include "BrewnshareBundle:recipe:_recipe_result_block.html.twig" with {'delete_form': deleteForms[recipe.id]} %}
            </li>
        {% else %}
            <div class="note note-info">
                <h4>{{ "recipes.noresults"|trans }}</h4>
                {% if isCurrentUser %}
                    <p>{{ 'Do you want to'|trans }} <a href="{{ path('recipe_new', {'slug_user': app.user.slug}) }}">{{ 'add one'|trans }}</a> ?</p>
                {% endif %}
            </div>
        {% endfor %}
    </ul>
    
    {% if recipes.items|length > 5 and isCurrentUser %}
        <div class="m-t-20">
            <a href="{{ path('recipe_new', {'slug_user': app.user.slug}) }}" class="btn btn-success">{{ 'recipes.new'|trans }}</a>
            {{ knp_pagination_render(recipes) }}
        </div>
    {% endif %}
{% endblock %}
