{% extends 'base_user.html.twig' %}

{% block page_title %}{{ 'New recipe'|trans }}{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('brewnshare_homepage') }}"><i class="fa fa-home"></i></a></li>
    <li class="active">{{ 'layout.profile'|trans({}, 'FOSUserBundle') }}</li>
{% endblock %}

{% block content %}
    {{ form_start(import_form) }}
        {{ form_errors(import_form) }}
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
               {{ 'File import'|trans }} 
            </div>
            <div class="box-body">
                {{ form_row(import_form.file) }}
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <input type="submit" value="{{ 'Import'|trans }}" class="btn btn-success pull-right" />
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    {{ form_end(import_form) }}
    
    <h3 class="text-center">- {{ 'OR'|trans }} -</h3>
    
    {{ form_start(form) }}
        {{ form_errors(form) }}
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                {{ form_errors(form.name) }}
                {{ form_widget(form.name) }}
            </div>
            <div class="box-body">

                {{ form_errors(form.public) }}
                {{ form_widget(form.public) }}
                
                <div class="row margin-bottom-10">
                    <div class="col-md-6">
                        {{ form_row(form.brewDate) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.bottledDate) }}
                    </div>
                </div>
                
                <div class="row margin-bottom-10">
                    <div class="col-md-4 col-sm-12">
                        <div class="input-group">
                            {{ form_errors(form.abv) }}
                            {{ form_widget(form.abv) }}
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="input-group">
                            {{ form_errors(form.bitterness) }}
                            {{ form_widget(form.bitterness) }}
                            <span class="input-group-addon select-group-addon">
                                {{ form_widget(form.bitternessUnit) }}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="input-group">
                            {{ form_errors(form.color) }}
                            {{ form_widget(form.color) }}
                            <span class="input-group-addon select-group-addon">
                                {{ form_widget(form.colorUnit) }}
                            </span>
                        </div>
                    </div>
                </div>
                
                <div class="row margin-bottom-10">
                    <div class="col-md-4 col-sm-6">
                        <div class="input-group">
                            {{ form_errors(form.OG) }}
                            {{ form_widget(form.OG) }}
                            <span class="input-group-addon select-group-addon">
                                {{ form_widget(form.OGUnit) }}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="input-group">
                            {{ form_errors(form.FG) }}
                            {{ form_widget(form.FG) }}
                            <span class="input-group-addon select-group-addon">
                                {{ form_widget(form.FGUnit) }}
                            </span>
                        </div>
                    </div>
                </div>
                
                {{ form_widget(form.description) }}
            
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <input type="submit" value="{{ 'Create'|trans }}" class="btn btn-success pull-right" />
                
                <a href="{{ path('recipe_index', {'slug_user': routeUser.slug}) }}" class="btn btn-danger">{{ 'Back to the list'|trans }}</a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    {{ form_end(form) }}
{% endblock %}
