{% extends '::base_user.html.twig' %}

{% block title %}{{ recipe.name }}{% endblock %}
{% block page_title %}{{ recipe.name }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{% if isCurrentUser %}<a href="{{ path('fos_user_profile_show') }}">{{ 'layout.profile'|trans({}, 'FOSUserBundle') }}</a>{% else %}<a href="">{{ routeUser }}</a>{% endif %}</li>
    <li><a href="{{ path('recipe_index', {'slug_user': routeUser.slug}) }}">{% if isCurrentUser %}{{ 'My recipes'|trans }}{% else %}{{ "Recipes"|trans }}{% endif %}</a></li>
    <li class="active">{{ recipe.name }}</li>
{% endblock %}

{% block content %}
    <!-- begin invoice -->
    <div class="invoice">
        <div class="invoice-company">
            <div class="pull-right hidden-print">
                <a href="javascript:;" onclick="window.print()" class="btn btn-sm btn-success m-b-10"><i class="fa fa-print m-r-5"></i> {{ "Print"|trans }}</a>
                <a href="javascript:;" class="btn btn-sm btn-success m-b-10"><i class="fa fa-download m-r-5"></i> {{ "Download"|trans }} (BeerXML)</a>
                <div class="btn-group m-b-10">
                    <a href="javascript:;" data-toggle="dropdown" class="btn btn-sm btn-success dropdown-toggle"><i class="fa fa-share-alt m-r-5"></i> {{ "Share"|trans }} <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="javascript:;"><i class="fa fa-facebook m-r-5"></i> Facebook</a></li>
                        <li><a href="javascript:;"><i class="fa fa-twitter m-r-5"></i> Twitter</a></a></li>
                        <li><a href="javascript:;"><i class="fa fa-envelope m-r-5"></i> Email</a></li>
                    </ul>
                </div>
            </div>
            <a href="{{ app.request.headers.get('referer') }}" class="btn btn-sm btn-white m-r-5 pull-left hidden-print"><i class="fa fa-angle-left"></i> {{ "Back"|trans }}</a>
            {% if isCurrentUser %}
                <a href="{{ path('recipe_edit', {'slug_user': app.user.slug, 'slug': recipe.slug}) }}" class="btn btn-sm btn-primary m-r-5 pull-left hidden-print"><i class="fa fa-edit"></i> {{ "Edit"|trans }}</a>
                {{ form_start(delete_form, {'attr': {'data-confirm-text': "recipes.delete.confirm_text"|trans} }) }}
                <a href="javascript:" class="btn btn-sm btn-danger m-r-5 pull-left btn-delete-form hidden-print"><i class="fa fa-trash"></i> {{ "Delete"|trans }}</a>
                {{ form_end(delete_form) }}
            {% endif %}
        </div>
        <div class="invoice-header">
            <div class="row">
                <div class="col-sm-3 text-center">
                    <span data-toggle="tooltip" data-placement="top" title="{{ "Volume"|trans }}"><i class="icon-fermenter icon-lg m-r-5"></i> {{ recipe.batchSize|number_format(1, ',', ' ') }} L</span>
                </div>
                <div class="col-sm-3 text-center">
                    <span data-toggle="tooltip" data-placement="top" title="{{ "ABV"|trans }}"><i class="ion-thermometer fa-lg m-r-5"></i> {{ recipe.abv|number_format(2, ',', ' ') }} % vol.</span>
                </div>
                <div class="col-sm-3 text-center">
                    <span data-toggle="tooltip" data-placement="top" title="{{ "Bitterness"|trans }}"><i class="icon-hop icon-lg m-r-5"></i> {{ recipe.bitterness }} {{ recipe.bitternessUnit }}</span>
                </div>
                <div class="col-sm-3 text-center">
                    <span data-toggle="tooltip" data-placement="top" title="{{ "Color"|trans }}"><i class="fa fa-lg fa-circle m-r-5"></i> {{ recipe.color }} {{ recipe.colorUnit }}</span>
                </div>
            </div>
        </div>
        <div class="invoice-content">
            <h5><i class="icon-barley2 icon-lg"></i> {{ "Fermentables"|trans }}</h5>
            <div class="table-responsive">
                <table class="table table-invoice">
                    <thead>
                        <tr>
                            <th width="20%">{{ "Quantity"|trans }}</th>
                            <th>{{ "Name"|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ingredient in fermentables %}
                            <tr>
                                <td>{{ ingredient.quantity|number_format(2, ',', ' ') }} kg</td>
                                <td>{{ ingredient.ingredient.translate.name }}{% if ingredient.addAfterBoil %} - ({{ "Add after boil"|trans }}){% endif %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <h5><i class="icon-hop icon-lg"></i> {{ "Hops"|trans }}</h5>
            <div class="table-responsive">
                <table class="table table-invoice">
                    <thead>
                        <tr>
                            <th width="20%">{{ "Quantity"|trans }}</th>
                            <th>{{ "Name"|trans }}</th>
                            <th width="30%">{{ "Time"|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ingredient in hops['Mash'] %}
                            <tr>
                                <td>{{ (ingredient.quantity*1000)|number_format(2, ',', ' ') }} g</td>
                                <td>{{ ingredient.ingredient.translate.name }} ({{ ingredient.form|trans }} - {{ ingredient.alpha }}%)</td>
                                <td>{{ ingredient.use|trans }} - {{ ingredient.time|duration_humanize }}</td>
                            </tr>
                        {% endfor %}
                        {% for ingredient in hops['First Wort'] %}
                            <tr>
                                <td>{{ (ingredient.quantity*1000)|number_format(2, ',', ' ') }} g</td>
                                <td>{{ ingredient.ingredient.translate.name }} ({{ ingredient.form|trans }} - {{ ingredient.alpha }}%)</td>
                                <td>{{ ingredient.use|trans }} - {{ ingredient.time|duration_humanize }}</td>
                            </tr>
                        {% endfor %}
                        {% for ingredient in hops['Boil'] %}
                            <tr>
                                <td>{{ (ingredient.quantity*1000)|number_format(2, ',', ' ') }} g</td>
                                <td>{{ ingredient.ingredient.translate.name }} ({{ ingredient.form|trans }} - {{ ingredient.alpha }}%)</td>
                                <td>{{ ingredient.use|trans }} - {{ ingredient.time|duration_humanize }}</td>
                            </tr>
                        {% endfor %}
                        {% for ingredient in hops['Other'] %}
                            <tr>
                                <td>{{ (ingredient.quantity*1000)|number_format(2, ',', ' ') }} g</td>
                                <td>{{ ingredient.ingredient.translate.name }} ({{ ingredient.form|trans }} - {{ ingredient.alpha }}%)</td>
                                <td>{{ ingredient.use|trans }} - {{ ingredient.time|duration_humanize }}</td>
                            </tr>
                        {% endfor %}
                        {% for ingredient in hops['Aroma'] %}
                            <tr>
                                <td>{{ (ingredient.quantity*1000)|number_format(2, ',', ' ') }} g</td>
                                <td>{{ ingredient.ingredient.translate.name }} ({{ ingredient.form|trans }} - {{ ingredient.alpha }}%)</td>
                                <td>{{ ingredient.use|trans }} - {{ ingredient.time|duration_humanize }}</td>
                            </tr>
                        {% endfor %}
                        {% for ingredient in hops['Dry Hop'] %}
                            <tr>
                                <td>{{ (ingredient.quantity*1000)|number_format(2, ',', ' ') }} g</td>
                                <td>{{ ingredient.ingredient.translate.name }} ({{ ingredient.form|trans }} - {{ ingredient.alpha }}%)</td>
                                <td>{{ ingredient.use|trans }} - {{ ingredient.time|duration_humanize }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <h5><i class="fa fa-lg fa-circle"></i> {{ "Miscs"|trans }}</h5>
            <div class="table-responsive">
                <table class="table table-invoice">
                    <thead>
                        <tr>
                            <th width="20%">{{ "Quantity"|trans }}</th>
                            <th>{{ "Name"|trans }}</th>
                            <th width="30%">{{ "Time"|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ingredient in miscs['Mash'] %}
                            <tr>
                                <td>{{ (ingredient.quantity*1000)|number_format(2, ',', ' ') }} g</td>
                                <td>{{ ingredient.ingredient.translate.name }} ({{ ingredient.type|trans }})</td>
                                <td>{{ ingredient.use|trans }} - {{ ingredient.time|duration_humanize }}</td>
                            </tr>
                        {% endfor %}
                        {% for ingredient in miscs['Boil'] %}
                            <tr>
                                <td>{{ (ingredient.quantity*1000)|number_format(2, ',', ' ') }} g</td>
                                <td>{{ ingredient.ingredient.translate.name }} ({{ ingredient.type|trans }})</td>
                                <td>{{ ingredient.use|trans }} - {{ ingredient.time|duration_humanize }}</td>
                            </tr>
                        {% endfor %}
                        {% for ingredient in miscs['Other'] %}
                            <tr>
                                <td>{{ (ingredient.quantity*1000)|number_format(2, ',', ' ') }} g</td>
                                <td>{{ ingredient.ingredient.translate.name }} ({{ ingredient.type|trans }})</td>
                                <td>{{ ingredient.use|trans }} - {{ ingredient.time|duration_humanize }}</td>
                            </tr>
                        {% endfor %}
                        {% for ingredient in miscs['Primary'] %}
                            <tr>
                                <td>{{ (ingredient.quantity*1000)|number_format(2, ',', ' ') }} g</td>
                                <td>{{ ingredient.ingredient.translate.name }} ({{ ingredient.type|trans }})</td>
                                <td>{{ ingredient.use|trans }} - {{ ingredient.time|duration_humanize }}</td>
                            </tr>
                        {% endfor %}
                        {% for ingredient in miscs['Secondary'] %}
                            <tr>
                                <td>{{ (ingredient.quantity*1000)|number_format(2, ',', ' ') }} g</td>
                                <td>{{ ingredient.ingredient.translate.name }} ({{ ingredient.type|trans }})</td>
                                <td>{{ ingredient.use|trans }} - {{ ingredient.time|duration_humanize }}</td>
                            </tr>
                        {% endfor %}
                        {% for ingredient in miscs['Bottling'] %}
                            <tr>
                                <td>{{ (ingredient.quantity*1000)|number_format(2, ',', ' ') }} g</td>
                                <td>{{ ingredient.ingredient.translate.name }} ({{ ingredient.type|trans }})</td>
                                <td>{{ ingredient.use|trans }} - {{ ingredient.time|duration_humanize }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <h5><i class="icon-yeast-liquid icon-lg"></i> {{ "Yeasts"|trans }}</h5>
            <div class="table-responsive">
                <table class="table table-invoice">
                    <thead>
                        <tr>
                            <th>{{ "Name"|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ingredient in yeasts %}
                            <tr>
                                <td>
                                    {{ ingredient.ingredient.translate.name }}
                                    {% if ingredient.ingredient.laboratory or ingredient.ingredient.productId %}
                                        ({% if ingredient.ingredient.laboratory %}{{ ingredient.ingredient.laboratory }}{% endif %}{% if ingredient.ingredient.laboratory and ingredient.ingredient.productId %} {% endif %}{% if ingredient.ingredient.productId %}{{ ingredient.ingredient.productId }}{% endif %})
                                    {% endif %}
                                    {% if ingredient.addToSecondary %} - ({{ "Add to secondary"|trans }}){% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="invoice-header">
                <div class="row">
                    <div class="col-sm-3 text-center">
                        Schéma<br/><span>Empâtage</span>
                    </div>
                    <div class="col-sm-3 text-center">
                        {{ "Boil"|trans }}<br/><span>{{ recipe.boilTime|duration_humanize }}</span>
                    </div>
                    <div class="col-sm-3 text-center">
                        {{ "OG"|trans }}<br/><span>{{ recipe.og|number_format('3') }}</span>
                    </div>
                    <div class="col-sm-3 text-center">
                        {{ "FG"|trans }}<br/><span>{{ recipe.fg|number_format('3') }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="invoice-note">
            <h4>{{ "Notes"|trans }}</h4>
            {{ recipe.notes|nl2br }}

            {% if recipe.tasteNotes %}
            <hr>
                <h4 class="m-t-20">{{ "Taste notes"|trans }}</h4>
                {{ recipe.tasteNotes|nl2br }}
            {% endif %}
        </div>
        <div class="invoice-footer text-muted">
            Commentaires
        </div>
    </div>
    <!-- end invoice -->
    
    
    {#
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            {{ form_start(delete_form) }}
                <input type="submit" value="{{ 'Delete'|trans }}" class="btn bg-navy pull-right">
            {{ form_end(delete_form) }}
            <a href="{{ path('recipe_edit', {'slug_user': app.user.slug, 'slug': recipe.slug}) }}" class="btn btn-success pull-right margin-right-10">{{ 'Edit'|trans }}</a>
            
            <h3>{{ recipe.name }}</h3>
        </div>
        <div class="box-body">
            {{ recipe.public }}

            <div class="row margin-bottom-10">
                <div class="col-md-6">
                    {% if recipe.brewDate is not null %}{{ recipe.brewDate|date('d/m/Y') }}{% endif %}
                </div>
                <div class="col-md-6">
                    {% if recipe.bottledDate is not null %}{{ recipe.bottledDate|date('d/m/Y') }}{% endif %}
                </div>
            </div>

            <div class="row margin-bottom-10">
                <div class="col-md-4 col-sm-12">
                    {{ recipe.abv }} %
                </div>
                <div class="col-md-4 col-sm-6">
                    {{ recipe.bitterness }} {{ recipe.bitternessUnit }}
                </div>
                <div class="col-md-4 col-sm-6">
                    {{ recipe.color }} {{ recipe.colorUnit }}
                </div>
            </div>

            <div class="row margin-bottom-10">
                <div class="col-md-4 col-sm-6">
                    {{ recipe.OG }} {{ recipe.OGUnit }}
                </div>
                <div class="col-md-4 col-sm-6">
                    {{ recipe.FG }} {{ recipe.FGUnit }}
                </div>
            </div>

            {{ recipe.description|nl2br }}

        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <a href="{{ path('recipe_index') }}" class="btn btn-danger">{{ 'Back to the list'|trans }}</a>
        </div>#}
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->
{% endblock %}