{% extends '::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ 'layout.login'|trans({}, 'FOSUserBundle') }}{% endblock %}
{% block stylesheets %}
    <link href="/assets/plugins/bootstrap-social/bootstrap-social.css" rel="stylesheet" />
{% endblock %}

{% block body_class %}bg-white{% endblock %}

{% block page_title %}{% endblock %}
{% block breadcrumb %}{% endblock %}

{% block content %}
    <!-- begin login -->
    <div class="login login-with-news-feed">
        <!-- begin news-feed -->
        <div class="news-feed">
            <div class="news-image">
                <img src="/assets/img/login-bg/bottle-caps.jpg" data-id="login-cover-image" alt="" />
            </div>
            <div class="news-caption">
                <h4 class="caption-title">{{ "welcome.title"|trans({}, "messages") }}</h4>
                <p>
                    {{ "welcome.text"|trans({}, "messages") }}
                </p>
            </div>
        </div>
        <!-- end news-feed -->
        <!-- begin right-content -->
        <div class="right-content">
            <!-- begin login-header -->
            <div class="login-header">
                <div class="brand">
                    <span class="logo"></span> {{ "site.name.full"|trans({}, "messages") }}
                    <small>{{ 'layout.login'|trans }}</small>
                </div>
                <div class="icon">
                    <i class="fa fa-sign-in"></i>
                </div>
            </div>
            <!-- end login-header -->
            <!-- begin login-content -->
            <div class="login-content">
                
                <div class="m-t-20 m-b-10 text-center">
                    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" class="btn width-250 btn-social btn-facebook">
                        <span class="fa fa-facebook"></span> {{ "Sign in with"|trans }} Facebook
                    </a>
                </div>
                <div class="m-t-10 m-b-30 text-center">
                    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}" class="btn width-250 btn-social btn-google">
                        <span class="fa fa-google"></span> {{ "Sign in with"|trans }} Google
                    </a>
                </div>
                <p class="m-b-30 f-s-20 f-w-500 text-center">- {{ "OR"|trans }} -</p>

                <h4>{{ "Sign in with email"|trans }}</h4>
                
                {% if error %}
                    <div class="alert alert-danger fade in m-b-15">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
            
                <form action="{{ path("fos_user_security_check") }}" method="POST" class="margin-bottom-0">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}
                    <div class="form-group m-b-15">
                        <input type="email" id="username" class="form-control input-lg" placeholder="{{ 'security.login.email'|trans }}" name="_username" value="{{ last_username }}" required />
                    </div>
                    <div class="form-group m-b-15">
                        <input type="password" id="password" class="form-control input-lg" placeholder="{{ 'security.login.password'|trans }}" name="_password" required />
                    </div>
                    <div class="checkbox m-b-30 m-t-0 p-r-0 p-l-0 col-xs-6">
                        <label>
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans }}
                        </label>
                    </div>
                    <div class="m-b-30 p-r-0 p-l-0 col-xs-6">
                        <a href="{{ path('fos_user_resetting_request') }}" class="text-theme pull-right">{{ 'security.login.forgotten_password'|trans }}</a>
                    </div>
                    <div class="login-buttons">
                        <input type="submit" id="_submit" class="btn btn-theme btn-block btn-lg" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                    </div>
                    <div class="m-t-20 m-b-40 text-inverse">
                        {{ 'security.login.is_new_user'|trans }} <a href="{{ path('fos_user_registration_register') }}" class="text-theme">{{ 'security.login.register'|trans }}</a>.
                    </div>
                    
                    <hr />
                    <p class="text-center">
                        &copy; 2017 {{ "site.copyright"|trans({}, "messages") }}
                    </p>
                </form>
            </div>
            <!-- end login-content -->
        </div>
        <!-- end right-container -->
    </div>
    <!-- end login -->
{% endblock %}