{% extends '::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="card">
            <div class="card-block text-center">
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>
        </div>
    </div>
</div>
{% endblock %}