{% extends "@FOSUser/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
    {{ 'resetting.request.title'|trans }}
{% endblock %}

{% block page_title %}
    {{ 'resetting.request.title'|trans }}
{% endblock %}
{% block breadcrumb %}
    <li class="active">{{ 'resetting.request.title'|trans }}</li>
{% endblock %}

{% block fos_user_content %}
<p>
{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
</p>
{% endblock %}
