{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="form-group m-b-15">
        <input type="email" id="username" class="form-control input-lg" placeholder="{{ 'resetting.request.email'|trans }}" name="username" required />
    </div>

    <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn btn-theme" />
</form>