{% extends "@FOSUser/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    {{ parent() }}
    
    <link href="/assets/plugins/password-indicator/css/password-indicator.css" rel="stylesheet" />
{% endblock %}

{% block title %}
    {{ 'resetting.request.title'|trans }}
{% endblock %}

{% block page_title %}
    {{ 'resetting.request.title'|trans }}
{% endblock %}
{% block breadcrumb %}
    <li class="active">{{ 'resetting.request.title'|trans }}</li>
{% endblock %}

{% block fos_user_content %}
{% include "@FOSUser/Resetting/reset_content.html.twig" %}
{% endblock fos_user_content %}

{% block javascripts %}
    {{ parent() }}
    
    <script src="/built/js/password-indicator-custom.min.js"></script>
    
    <script>
        $(document).ready(function() {
            $('#fos_user_resetting_form_plainPassword_first').passwordStrength();
        });
    </script>
{% endblock %}