{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
    <div class="form-group m-b-15">
        {{ form_widget(form.plainPassword.first) }}
        <div id="passwordStrengthDiv" class="is0 m-t-5"></div>
    </div>
    <div class="form-group m-b-15">
        {{ form_widget(form.plainPassword.second) }}
    </div>
    
    <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" class="btn btn-theme" />
{{ form_end(form) }}