{#
/**
 * @file
 * Twitter Bootstrap v4-alpha.6 Sliding pagination control implementation.
 *
 * View that can be used with the pagination module
 * from the Twitter Bootstrap CSS Toolkit
 * https://v4-alpha.getbootstrap.com/components/pagination/
 *
 */
#}
{% if pageCount > 1 %}
    <ul class="pagination pagination-without-border pull-right m-t-0">

        {% if previous is defined %}
            <li class="">
                <a class="" rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&laquo;</a>
            </li>
        {% else %}
            <li class="disabled">
                <a class="" href="javacript:;">&laquo;</a>
            </li>
        {% endif %}

        {% if startPage > 1 %}
            <li class="">
                <a class="" href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a>
            </li>
            {% if startPage == 3 %}
                <li class="">
                    <a class="" href="{{ path(route, query|merge({(pageParameterName): 2})) }}">2</a>
                </li>
            {% elseif startPage != 2 %}
                <li class="disabled">
                    <a class="" href="javacript:;">&hellip;</a>
                </li>
            {% endif %}
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <li class="">
                    <a class="" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                </li>
            {% else %}
                <li class="active">
                    <a class="" href="javacript:;">{{ page }}</a>
                </li>
            {% endif %}

        {% endfor %}

        {% if pageCount > endPage %}
            {% if pageCount > (endPage + 1) %}
                {% if pageCount > (endPage + 2) %}
                    <li class="disabled">
                        <a class="" href="javacript:;">&hellip;</a>
                    </li>
                {% else %}
                    <li class="">
                        <a class="" href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}">{{ pageCount -1 }}</a>
                    </li>
                {% endif %}
            {% endif %}
            <li class="">
                <a class="" href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">{{ pageCount }}</a>
            </li>
        {% endif %}

        {% if next is defined %}
            <li class="">
                <a class="" rel="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}">&raquo;</a>
            </li>
        {% else %}
            <li class="disabled">
                <a class="" href="javacript:;">&raquo;</a>
            </li>
        {% endif %}
    </ul>
{% endif %}
